@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.body{
  background-color: #081b29;
  color: #ededed;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(50px);
  
}

.logo{
  position: relative;
  font-size: 25px;
  color: #ededed;
  font-weight: 600;
}

.logo::before {

  content: '';
  position: absolute;
  top:0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: .2 s;

}

.navbar :link{
  font-size: 18px;
  color: #ededed;
  font-weight: 500;
  margin-left: 25px;
  transition: .3s;
}

.navbar :link:hover {
    color: #00abf0;
}

.home{
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home_content {
  max-width: 600px;

}

.home_content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.home_content::before {

  content: '';
  position: absolute;
  top:0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: .4 s;

}



.home_content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}
.home_content p{
  font-size: 16px;
  margin: 20px 0 40px;

}

.home_content .btn_box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;

}
.btn_box :link{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  margin-right: 10px;
  font-size: 19px;
  color: #081b29;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;

}

.btn_box :link:hover{
  color: #00abf0;
}

.btn_box :link:nth-child(2) {

  background-color: transparent;
  color: #00abf0;
}

.btn_box :link::before {

  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #081b29;
  z-index: -1;
  transition: 0.5s;
}

.btn_box :link:nth-child(2):hover{
  color: #081b29;
}


.btn_box :link:nth-child(2)::before{
    background-color: #00abf0;
}


.btn_box :link:hover::before {
  width: 100%;

}

.home_icons {
  position: absolute;
  bottom: 60px;
}

.home_icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px; 
  width: 30px;
  height: 30px;
  font-size: 20px;
  background: transparent;

  
}
.myPic {
  margin-top: 30%;
  transition: 2s;
  opacity: .40;
}

.myPic:hover {

  background-color: #081b29;
  opacity: .10;
}

/* PROJECT PAGE  */
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px; 
  padding: 20px; 
  cursor: pointer;
 
}



.projectCard {
  background-color: #0c2638;
  border-radius: 8px; 
  padding: 16px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.projectCard:hover {
  transform: scale(1.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  
}

.projects h1 {
  font-weight: 600;
  font-size: x-large;
  color: #00abf0;
}

/* Contact form  */

.left-contactContainer {
  flex-basis: 35%;
}

.left-contactContainer p {
  margin-top: 10px;
}

.right-contactContainer {
  flex-basis: 50%;
}

.about_icons {
  position: absolute;
  margin-top: 20px;
}

.about_icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background: transparent;
}

.right-contactContainer {
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  
  width: 100%;
  border: 0;
  outline: none;
  background: #0c2638;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

.contact-form button:hover {

  background:#00abf0;
}

.btn_contact :link{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background: #081b29;
  border: 2px solid #00abf0;
  border-radius: 8px;
  margin-right: 10px;
  font-size: 19px;
  color: #081b29;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;

}

/* ABOUT SECTION  */
.tab-link {
  cursor: pointer;
  padding: 10px;
}

.tab-link.active {
  font-weight: bold;
  color: #00abf0;
  border-bottom: 2px solid #00abf0; 
}


.about-col-1 {
  flex-basis: 35%;
  margin-left: 40px;
  margin-right: 40px;
}

.about-col-2 {
  flex-basis: 35%;
}

.tab-content {
  color: #a2a6aa;

}

.tab-content-title{
  font-size: 20px;
  font-weight: 600;
  color: #00abf0;
  margin-bottom: 15px;
}

.skills-list {
  list-style-type: disc; 
  padding-left: 20px;   
}

.skills-list li {
  margin-bottom: 5px;    
}




/* KEYFRAME ANIMATIONS */

@Keyframes  showRight {
   100% {
     width: 0;
   }
}

